
@{
    ViewBag.Title = "Demo2";
}

<h2>Demo2</h2>

<form method="get" name="form" action="Demo2_2">
    <p>蘋果 : <input type="number" name="apple"/></p>
    <p>香蕉 : <input type="number" name="banana" /></p>
    <p>西瓜 : <input type="number" name="watermelon" /></p>

    <p><input type="submit" /></p>
</form>