
@{
    ViewBag.Title = "Demo1";
}

<h2>Demo1</h2>

<form method="get" name="form" action="Demo1_2">
    <p>蘋果 : <input type="number" name="apple"/></p>
    <p>香蕉 : <input type="number" name="banana" /></p>
    <p>西瓜 : <input type="number" name="watermelon" /></p>

    <p><input type="submit" /></p>
</form>