
@{
    ViewBag.Title = "Demo1_2";
}

<h2>Demo1_2</h2>
<br /><hr /><br />
<p class="h4">蘋果 : @ViewBag.apple 元</p>
<p class="h4">香蕉 : @ViewBag.banana 元</p>
<p class="h4">西瓜 : @ViewBag.watermelon 元</p>
<p class="h4">總共 : @ViewBag.total 元</p>