@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <p><a href="/Home/Lesson1" class="btn btn-primary btn-lg">Lessen 1</a></p>
        </div>
        <div class="col-md-4">
            <p><a href="/Home/Lesson2" class="btn btn-primary btn-lg">Lessen 2</a></p>
        </div>
        <div class="col-md-4">
            <p><a href="/Home/Lesson2" class="btn btn-primary btn-lg">Lessen 3</a></p>
        </div>
    </div>
</div>