
@{
    ViewBag.Title = "Lesson3";
}

<h2>Lesson3</h2>
<br /><hr /><br />
<p class="h4">Lesson2 : Model 是如何運作的?</p>
<br /><hr /><br />
<ul class="h4">
    <li>Model 在MVC中實際的作為</li><br />
    <li>如何使用Model</li><br />
</ul>

<p><a href="/Home/Demo2" class="btn btn-primary btn-lg">Demo2</a></p>