
@{
    ViewBag.Title = "Lesson1";
}

<h2>Lesson1</h2>
<br /><hr /><br />
<p class="h4">Lesson1 : 創造一個View，並學習如何進入View</p>
<br /><hr /><br />
<ul class="h4">
    <li>Url 進入後端會如何被處理?</li><br />
    <li>Controller? Action?</li><br />
    <li>Controller如何指定顯示哪個View</li><br />
</ul>