
@{
    ViewBag.Title = "Lesson2";
}

<h2>Lesson2</h2>
<br /><hr /><br />
<p class="h4">Lesson2 : View之間如何溝通?</p>
<br /><hr /><br />
<ul class="h4">
    <li>網頁中的資訊是如何傳遞?</li><br />
    <li>Get? Post?</li><br />
</ul>

<p><a href="/Home/Demo1" class="btn btn-primary btn-lg">Demo1</a></p>