html {
    display: block;
}

html {
 min-height:100%; 
 -webkit-font-smoothing: antialiased; 	
 	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	opacity: 1; 
	transition: opacity 0.5s;
	margin: 0;
}

#background{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: cover;
	background-image: url('background.jpg');
}

section{
	width: 100%;
	height: 100%;
}

.box{
	position: relative;
	background: rgba(0, 0, 0, .2);
	border-radius:20px;
}

article{
	top: 6%;
	left: 3%;
	width: 94%;
	height: 88%;
}

#littlebox{
	display: inline-block;
	width:  200px;
	height: 220px;
	margin: 2.9%;
	background: rgba(0,0,0,.4);
}

#darken{
	background: rgba(0,0,0,.3);
}

.box-h1 {
	border-radius: 20px 20px 0 0;
	font-size:40px;
	color: white;
	padding-top: 7px;
	padding-left: 50px;
	padding-bottom: 7px;
	font-family:'Helvetica Neue',Helvetica,arial,sans-serif
}

.box-h2 {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 40px;
	border-radius:0 0 20px 20px;
	font-size:30px;
	color: white;
	font-family:'Helvetica Neue',Helvetica,arial,sans-serif;
	text-align: center;
	background: rgba(0, 0, 0, .6);
}

.bold, b, strong {
	font-weight: bold;
}

img{
	position: relative;
	top: 17px;
	left: 25px;
	height: 150px;
	width: 150px;
}

img:hover{
	-moz-transition: -moz-transform 0.2s ease;
	-webkit-transition: -webkit-transform 0.2s ease;
	-ms-transition: -ms-transform 0.2s ease;
	transition: transform 0.2s ease;
	transform: scale(1.1);
}