html,body { 	
 	width: 100%;
	height: 100%;
	margin: 0;
}

#background{
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
	background-image: url('img/background.jpg');
}

section{
	width: 100%;
	height: 100%;
}

article{
	top: 6%;
	left: 3%;
	width: 94%;
	height: 88%;
}

.box{
	position: relative;
	display: inline-block;
	border-radius: 20px;
	background: rgba(0,0,0,.3);
}

.bold{
	font-weight: bold;
}

.up-border-radius{
	border-radius: 20px 20px 0 0;
	background: rgba(0,0,0,.4);
}

#littlebox{
	display: inline-block;
	width:  14.95%;
	height: 35%;
	margin: 2.5% 2.5% 2.5% calc(2.5% - 4px);
	background: rgba(0,0,0,.2);
}

.box-h1 {
	font-size: 40px;
	color: white;
	font-family:'Helvetica Neue','Helvetica';
}

.box-h1 *{
	display: inline-block;
	position: relative;
}

.box-h1 .left{
	padding-top: 7px;
	padding-left: 50px;
	padding-bottom: 7px;
}

.box-h1 .right{
	position:absolute;
	right: 0px;
	padding-top: 7px;
	padding-right: 50px;
	padding-bottom: 7px;
}

.box-h2 {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 16%;
	border-radius:0 0 20px 20px;
	font-size:30px;
	color: white;
	font-family:'Helvetica Neue',Helvetica,arial,sans-serif;
	text-align: center;
	background: rgba(0, 0, 0, .45);
}

img{
	position: relative;
	top: 8%;
	left: 15%;	
	width: 70%;
}

img:hover{
	-moz-transition: -moz-transform 0.2s ease;
	-webkit-transition: -webkit-transform 0.2s ease;
	-ms-transition: -ms-transform 0.2s ease;
	transition: transform 0.2s ease;
	transform: scale(1.1);
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   25% { transform: rotate(2.5deg); }
   50% { transform: rotate(0deg); }
   75% { transform: rotate(-2.5deg); }
  100% { transform: rotate(0deg); }
}

.wiggle {
    animation: none;
}

.wiggle:hover {
  animation: wiggle 0.2s infinite;
}